@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --size-header-height: 64px;
  --size-footer-height: 80px;

  --color-black: #333;
  --color-primary: #00053a;
  --color-secondary: #9e8f42;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
